<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10311.0" targetFramework="net451" />
  <package id="MvcScaffolding.VS2015" version="1.0.12" targetFramework="net451" />
  <package id="T4Scaffolding.Core.VS2015" version="1.0.1" targetFramework="net451" />
  <package id="T4Scaffolding.VS2015" version="1.0.8" targetFramework="net451" />
</packages>